---
import type { GetStaticPaths } from "astro";
import MainLayout from "@layouts/MainLayout.astro";
import PokemonCard from "@components/PokemonCard.astro";
import type { PokemonResponse } from "@interfaces/pokemon.response";
import Title from "@components/shared/Title.astro";

const title = "Pokemon";
// const { url } = Astro.props;

export const getStaticPaths = (async () => {
  const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=160");
  const { results } = (await resp.json()) as PokemonResponse;

  return results.map(({name, url}) => ({
    params: { name },
    props: { name, url },
  }));
}) satisfies GetStaticPaths;
const { name, url } = Astro.props;
const id = url.split("/").at(-2);
---

<MainLayout 
  title={`Pokemon - #${id} ${name}`}
  description={`Information about the pokemon ${name}`}
  >
  <section
    aria-label="Pokemon description"
    class="met-10 mx-10 flex flex-col justify-center items-center"
  >
    <Title>{name}</Title>
    <PokemonCard name={name} url={url} isBig />
    <button
    onclick="history.back()"
    class= "bg-blue-500 py-1 px-8 text-white rounded-md"
    >
    Back
  </button>
  </section>
</MainLayout>

<style>
  a {
    @apply hover:underline text-blue-500;
  }
</style>
